
GROQ_API_KEY=https://console.groq.com/keys

#  optiona: this is the email address that will be used to send the email
EMAIL_SENDER = senderemail@gmail.com

EMAIL_PASSWORD = APP PASSWORD
EMAIL_RECEIVER =  reciveremail@gmail.com
    

